.stationsDetails {
    width: 100%;
    background: transparent linear-gradient(0deg, #62BB6500 0%, #62BB6533 100%) 0% 0% no-repeat padding-box;
    display: grid;
    place-items: center;

    .detailsWrapper {
        
    }
}