@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {


    // Colors
    // #114D46
    
    --white: #FFFFFF;


    // Fonts
    --text: "Open Sans", sans-serif;
    --muli: 'Muli';

    // Open sana
    // Muli
    // font-family: 'Muli';
}