@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    // Colors
    --white: #FFFFFF;
    --black: #000000;

    --darkblue: #222A41;
    // #232F44
    --lightgray: #D8EADB;
    --gray: #888888;
    --green: #6DA830;
    --lightgreen: #62BB65;
    --darkgreen: #114D46;
    --antiwhite: #F4F7F7;

    // Fonts
    --text: "Open Sans", sans-serif;
    --muli: 'Muli';
}