.homePage {
  width: 100%;
  position: relative;

  .recyclingStations {
    background-color: var(--lightgray);
    width: 100%;
    max-width: 769px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 50px;
    border-radius: 16px;

    h3 {
      color: var(--darkblue);
      font-size: 40px;
      font-weight: 400;
      line-height: 55px;
      margin-bottom: 55px;
    }

    .btnWrapper {
      width: 100%;
      max-width: 377px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  .content {
    width: 100%;
    padding: 9rem 2rem 0rem;

    .contentWrapper {
      width: 100%;
      max-width: 1364px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 158px;

      figure {
        width: 100%;
        max-width: 1364px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &:first-child {
          max-height: 707px;
          margin-top: 80px;
        }

        &:nth-child(2) {
          margin-bottom: 86px;
        }

        figcaption {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:nth-child(2) {
            max-width: 701px;
          }

          h2 {
            max-width: 500px;
            font-size: 74px;
            font-weight: 400;
            line-height: 75px;
            margin-bottom: 35px;

            .shadowText {
              height: 40px;
              display: inline-block;
              background-color: #d8eadb;
              // padding: 0 0.5px;
              // text-shadow: inset 0 0.5em 0 0#D8EADB;
            }
          }

          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 75px;
            max-width: 496px;
          }

          .btnContainer {
            max-width: 508px;
            display: flex;
            gap: 23px;
          }
        }

        img {
          border-radius: 15px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .imgSorting {
          max-width: 612px;
        }

        .imgAffaldsbeholder {
          max-width: 503px;
        }
      }
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
